* {
  padding: 0;
  margin: 0;
}
/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  color: #fff;
  background-color: #fd6e0a;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

.btn-secondary {
  background-color: #fff;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  margin: 0 150px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 40px;
}
nav a {
  color: #474747;
  text-decoration: none;
}
/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url("images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 500px;
}
. banner .profile-pic {
  width: 500px;
}
.banner-greetings {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
/* main section styles */
/* about section styles */
.about {
  padding: 130px;
  margin: 130px 200px;
  border-radius: 10px;
  background-color: #fff8f3;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 20px;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.info-title {
  color: #757575;
  text-align: center;  
  font-size: 18px;  
  font-weight: 400;
  line-height: 30px;
}

.info-description {
    color: #555454;
    text-align: center;  
    font-size: 20px;  
    font-weight: 700;
    line-height: 30px;
  }
